/* Base Styles */
body {
  font-family: 'Inconsolata', sans-serif;
  color: #090809;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  margin: 0;
  text-align: center;
}

h1 {
  display: inline-block;
  font-weight: 300;
}

.links {
  display: inline-block;
}

.links li {
  display: inline-block;
}

.links a {
  color: #090809;
  text-decoration: none;
  font-size: 16px;
  margin: 0 8px;
}

.navbar {
  color: #090809;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 1000;
  padding: 10px 16px;
  height: 80px;
  box-sizing: border-box;
}

a.active {
  border-bottom: 1px solid black;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr)); /* Adjusted min-width for grid items */
  gap: 10px; /* Reduced gap */
  padding: 10px;
  margin-top: 150px;
}

.card.text-card h1 {
  font-size: 56px;
  font-weight: 400;
  margin: 0;
  text-align: center;
}

.card.text-card h2 {
  font-size: 64px;
  font-weight: 400;
  margin: 10px 0;
  text-align: center;
}

.card.text-card h3 {
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  text-align: center;
}

.card.carousel-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.carousel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-slide {
  display: flex;
  transition: transform 0.5s ease-in-out;
  height: auto;
}

.carousel-slide .slide {
  flex-shrink: 0;
  width: 100%;
  height: auto;
  position: relative;
  box-sizing: border-box;
}

.carousel-slide img,
.carousel-slide iframe {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.carousel-dots {
  text-align: center;
  margin-top: 10px;
}

.carousel-dots .dot {
  height: 8px;
  width: 8px;
  margin: 0 3px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.carousel-dots .dot.active {
  background-color: #717171;
}

/* Mobile Adjustments */
@media (max-width: 432px) {
  .grid-container {
    grid-template-columns: 1fr; /* Single column for smaller screens */
    padding: 5px; /* Further reduced padding */
    gap: 5px; /* Reduced gap */
    margin-top: 60px; /* Further reduced top margin */
  }

  .card.carousel-card {
    margin: 0; /* Remove extra margin */
  }

  .carousel-container {
    padding: 0; /* Remove extra padding */
  }

  .carousel-slide .slide {
    padding-top: 75%; /* Maintain aspect ratio */
  }

  .carousel-slide img,
  .carousel-slide iframe {
    height: auto; /* Adjust height */
  }

  .carousel-dots {
    margin-top: 5px; /* Reduced space above dots */
  }

  .card.text-card h1 {
    font-size: 20px; /* Adjusted size for smaller screens */
  }

  .card.text-card h2 {
    font-size: 18px; /* Adjusted size for smaller screens */
  }

  .card.text-card h3 {
    font-size: 12px; /* Adjusted size for smaller screens */
  }
}
