body {
    font-family: 'Inconsolata', sans-serif;
    color: #090809;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    display: inline-block;
    font-weight: 300;
  }
  
  .links {
    display: inline-block;
  }
  
  .links li {
    display: inline-block;
  }
  
  .links a {
    color: #090809;
    text-decoration: none;
    font-size: 16px;
    margin: 0 8px;
  }
  
  .navbar {
    color: #090809;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
    padding: 10px 32px;
    height: 100px;
    box-sizing: border-box;
  }
  
  a.active {
    border-bottom: 1px solid black;
  }
  
  .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal columns */
  gap: 20px;
  padding: 20px;
  margin-top: 110px;
  height: calc(100vh - 110px); /* Adjust height based on viewport minus navbar height */
  box-sizing: border-box;
}

.card {
  background-color: white;
  border-radius: 8px;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Make the card take up the full height of its container */
}

.text-card h1 {
  margin: 10;
  padding: 20px;
  font-size: 24px;
  font-weight: 300;
}

.text-card h2 {
  margin: 0;
  padding: 20px;
  font-size: 12px;
  font-weight: 300;
  text-align: left;
}

.iframe-card {
  position: relative;
}

.iframe-card iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none; /* Remove the border */
}
  
  /* Responsive adjustments */
  @media (min-width: 1600px) {
    .grid-container {
      height: 600px; /* Ample space for large screens */
    }
  }
  
  @media (max-width: 1600px) and (min-width: 1200px) {
    .grid-container {
      height: 400px; /* Balanced height for large desktops */
    }
  }
  
  @media (max-width: 1200px) and (min-width: 800px) {
    .grid-container {
      height: 400px; /* Adjusted for tablets and smaller laptops */
    }
  }
  
  @media (max-width: 800px) and (min-width: 400px) {
    .grid-container {
      height: 300px; /* Suitable for large smartphones and tablets */
    }
  }
  
  @media (max-width: 400px) {
    .grid-container {
      height: 200px; /* Compact for small smartphones */
    }
  }
  