body {
    font-family: 'Inconsolata';
    color: #090809;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    display: inline-block;
    font-weight: 300;
  }
  
  .links {
    display: inline-block;
  }
  
  .links li {
    display: inline-block;
  }
  
  .links a {
    color: #090809;
    text-decoration: none;
    font-size: 16px;
    margin: 0 8px;
  }
  
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
    padding: 10px 32px;
    height: 100px; /* Explicit height for the navbar */
    box-sizing: border-box; /* Ensures padding is included in the height */
    min-width: 800px;
  }
  
  a.active {
    border-bottom: 1px solid black;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr)); /* Adjust the min-width value */
    gap: 60px;
    padding: 20px;
    padding-left: 150px;
    margin-top: 110px;
  }
  
  .card {
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    padding: 0;
    text-align: left;
    transition: opacity 0.5s ease-in-out;
  }
  
  
  .card h2 {
    font-size: 48px;
    font-weight: 300;
    margin: 10px 0 0 0;
    padding-bottom: 10px;
  }
  
  .card h3 {
    font-size: 36px;
    font-weight: 300;
    margin: 10px 0 0 0;
    padding-bottom: 10px;
  }
  
  .card h4 {
    font-size: 16px;
    font-weight: 300;
    margin: 10px 0 0 0;
    padding-bottom: 10px;
  }
  
  .profile-picture {
    width: 100%;
    max-width: 700px; /* Adjust the max width for the profile picture */
    height: auto;
    border-radius: 50%;
    object-fit: cover;
  }
  
/* Make the profile picture centered vertically but aligned to the top horizontally */
.card.profile-card {
  display: flex;
  justify-content: center; /* Centers the picture horizontally */
  align-items: center; /* Aligns the picture to the top vertically */
  text-align: center;
  }
  
  @media screen and (max-width: 1200px) {
    .grid-container {
      grid-template-columns: 1fr; /* Stack the columns on smaller screens */
      padding-left: 20px;
    }
  
    .card.profile-card {
      text-align: center; /* Center align text on smaller screens */
    }
  }

