@media (max-width: 800px)
{
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 24px 32px;
    height: 200px;
    box-sizing: border-box;
    background-color: white;
  }
  .grid-container {
    grid-template-columns: 1fr; /* Switch to a single column layout */
    margin-top: 200px; /* Adjust this value to create more space */
}

.carousel-container {
    height: auto; /* Allow the height to adjust automatically */
    align-items: center;
}

.carousel-slide img {
    width: 100%; /* Make the images scale down proportionally */
    height: auto;
    max-width: 100%;
    align-items: center;
}
.carousel-slide h1 {
  font-size: 48px;
  max-width: 350px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: center;
  display: inline-block;
}
.carousel-slide h2 {
  font-size: 32px;
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  height: 30vh; /* Adjust height as needed */
  text-align: center; /* Ensures text is centered */

}

}
