/* Reset default margin and padding */
body, html {
    margin: 0;
    padding: 0;
    color: #1507da;
    background-image:
        repeating-linear-gradient(0deg, transparent, transparent 99px, rgba(41, 12, 229, 0.5) 100px),
        repeating-linear-gradient(90deg, transparent, transparent 99px, rgba(41, 12, 229, 0.5) 100px);
    background-size: 100px 100px;
    font-family: "depot-new-web", sans-serif; /* Your chosen font */
}

/* Navbar Styling */
.navbar {
    font-family: 'Inconsolata', sans-serif;
    color: #090809;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
    padding: 10px 32px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column; /* Stack title and links vertically */
    align-items: flex-start; /* Align items to the left */
}


/* Center the title and button vertically and horizontally */
.title-container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Style for the title */
.title {
    font-family: "depot-new-web", sans-serif;
    text-align: center;
    font-weight: 700;
    font-style: normal;
    font-size: 124px;
}

/* Style for the Next Button */
.next-button {
    background-color: #1507da;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

