/* Reset default margin and padding */
body, html {
    margin: 0;
    padding: 0;

    background-image:
        repeating-linear-gradient(0deg, transparent, transparent 99px, rgba(41, 12, 229, 0.5) 100px),
        repeating-linear-gradient(90deg, transparent, transparent 99px, rgba(41, 12, 229, 0.5) 100px);
    background-size: 100px 100px;
    font-family: "depot-new-web", sans-serif; /* Your chosen font */
    
}

/* Center the container vertically and horizontally */
.container {
     position: relative;
     width: 90vw; /* 100% of the viewport width */
     height: 90vh; /* 100% of the viewport height */
}
   
/* Style for the message */
#message {
    font-family: "depot-new-web", sans-serif; /* Your chosen font */
    color: #3213be;
    text-align: center;
    font-weight: 700;
    font-style: normal;
    font-size: 120px;
    text-align: center; /* Center text horizontally */
    position: absolute;
    top: 50%; /* Move to the center vertically */
    left: 50%; /* Move to the center horizontally */
    transform: translate(-50%, -50%); /* Center the div */
    z-index: 1;
        }  

/* Style for the colored nodes */
.node {
    width: 0;
    height: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-bottom: 120px solid; /* Adjust the color dynamically using JavaScript */
    border-bottom-color: transparent; /* Initialize as transparent */
    position: absolute;
}


@media (max-width: 432px) {
    
    #container {
          height: 200px; /* Compact for small smartphones */
    
        }
          .partner {
            width: 0;
            height: 0;
            border-left: 30px solid transparent; /* Adjust border size for triangle */
            border-right: 30px solid transparent; /* Adjust border size for triangle */
            border-bottom: 60px solid; /* Adjust border size for triangle */
            border-bottom-color: grey; /* Adjust the color dynamically using JavaScript */
            position: absolute;
            z-index: -1;
        }

        #message {
            font-family: "depot-new-web", sans-serif; /* Your chosen font */
            color: #3213be;
            text-align: center;
            font-weight: 700;
            font-style: normal;
            font-size: 24px;
            text-align: center; /* Center text horizontally */
            position: absolute;
            top: 50%; /* Move to the center vertically */
            left: 50%; /* Move to the center horizontally */
            transform: translate(-50%, -50%); /* Center the div */
            z-index: 1;
                } 
          }
