/* Reset default margin and padding */
body, html {
    margin: 0;
    padding: 0;
    color: #1507da;
    background-image:
        repeating-linear-gradient(0deg, transparent, transparent 99px, rgba(41, 12, 229, 0.5) 100px),
        repeating-linear-gradient(90deg, transparent, transparent 99px, rgba(41, 12, 229, 0.5) 100px);
    background-size: 100px 100px;
    overflow: hidden; /* Prevent scrolling */
    height: 100%;
}



#amazon-container {
  height: 100vh; /* Full viewport height */
  width: 100vw;  /* Full viewport width */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}



/* Define CSS styles for the Amazon and Partner nodes during movement */
.amazon.move {
    transition: transform 0.5s ease; /* Smooth transition for movement */
    
}

.partner.move {
    transition: transform 0.5s ease; /* Smooth transition for movement */
    
}


/* Define CSS styles for the Amazon nodes */
.amazon {
    width: 0;
    height: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-bottom: 120px solid; /* Adjust the color dynamically using JavaScript */
    position: absolute;
    z-index: -1;
    
}


.partner {
    width: 0;
    height: 0;
    border-left: 70px solid transparent; /* Adjust border size for triangle */
    border-right: 70px solid transparent; /* Adjust border size for triangle */
    border-bottom: 140px solid; /* Adjust border size for triangle */
    border-bottom-color: grey; /* Adjust the color dynamically using JavaScript */
    position: absolute;
    z-index: -1;
}

.pop {
    visibility: hidden;
}

/* Responsive adjustments */
@media (min-width: 1600px) {
  
#amazon-container {
      height: 600px; /* Ample space for large screens */
     
    }
  }
  
  @media (max-width: 1600px) and (min-width: 1200px) {
  
#amazon-container {
      height: 400px; /* Balanced height for large desktops */
      
    }
  }
  
  @media (max-width: 1200px) and (min-width: 800px) {
   
#amazon-container {
      height: 400px; /* Adjusted for tablets and smaller laptops */
      
    }
  }
  
  @media (max-width: 800px) and (min-width: 400px) {
   
#amazon-container {
      height: 300px; /* Suitable for large smartphones and tablets */
     
    }
  }
  
  @media (max-width: 432px) {
    
#amazon-container {
      height: 200px; /* Compact for small smartphones */

    }
      .partner {
        width: 0;
        height: 0;
        border-left: 30px solid transparent; /* Adjust border size for triangle */
        border-right: 30px solid transparent; /* Adjust border size for triangle */
        border-bottom: 60px solid; /* Adjust border size for triangle */
        border-bottom-color: grey; /* Adjust the color dynamically using JavaScript */
        position: absolute;
        z-index: -1;
    }
    .amazon {
      width: 0;
      height: 0;
      border-left: 30px solid transparent;
      border-right: 30px solid transparent;
      border-bottom: 60px solid; /* Adjust the color dynamically using JavaScript */
      border-bottom-color: transparent; /* Initialize as transparent */
      position: absolute;
  } 
  }
  /* Responsive adjustments */
@media (max-width: 360px) {
  #amazon-container {
    height: 200px; /* Compact for small smartphones */

  }

  .partner {
    width: 0;
    height: 0;
    border-left: 20px solid transparent; /* Adjust border size for triangle */
    border-right: 20px solid transparent; /* Adjust border size for triangle */
    border-bottom: 40px solid; /* Adjust border size for triangle */
    border-bottom-color: grey; /* Adjust the color dynamically using JavaScript */
    position: absolute;
    z-index: -1;
  }
}








